<!DOCTYPE html>
<!--[if lt IE 7]>      <html itemscope itemtype="http://schema.org/Article" class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ app.request.locale }}"> <![endif]-->
<!--[if IE 7]>         <html itemscope itemtype="http://schema.org/Article" class="no-js lt-ie9 lt-ie8" lang="{{ app.request.locale }}"> <![endif]-->
<!--[if IE 8]>         <html itemscope itemtype="http://schema.org/Article" class="no-js lt-ie9" lang="{{ app.request.locale }}"> <![endif]-->
<!--[if IE 9]>         <html itemscope itemtype="http://schema.org/Article" class="no-js ie9" lang="{{ app.request.locale }}"> <![endif]-->
<!--[if gt IE 9]><!--> <html itemscope itemtype="http://schema.org/Article" class="no-js" lang="{{ app.request.locale }}"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/app/images/apple-touch-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('bundles/app/images/apple-touch-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/app/images/apple-touch-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/app/images/apple-touch-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/app/images/apple-touch-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/app/images/apple-touch-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/app/images/apple-touch-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/app/images/apple-touch-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/app/images/apple-touch-icon-180x180.png') }}">
        <link rel="icon" type="image/png" href="{{ asset('bundles/app/images/favicon-32x32.png') }}" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ asset('bundles/app/images/favicon-194x194.png') }}" sizes="194x194">
        <link rel="icon" type="image/png" href="{{ asset('bundles/app/images/favicon-96x96.png') }}" sizes="96x96">
        <link rel="icon" type="image/png" href="{{ asset('bundles/app/images/android-chrome-192x192.png') }}" sizes="192x192">
        <link rel="icon" type="image/png" href="{{ asset('bundles/app/images/favicon-16x16.png') }}" sizes="16x16">
        <link rel="manifest" href="{{ asset('bundles/app/images/manifest.json') }}">
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="msapplication-TileImage" content="bundles/app/images/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/dist/css/bootstrap-theme.min.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('built/app/css/style.css') }}" type="text/css"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
        {% block body %}{% endblock %}
        </div>

        <script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
