{% extends 'base.html.twig' %}

{% set cRoute = app.request.attributes.get('_route') %}

{% block body %}
{% block navigation %}
<nav class="nav navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('am_docker_homepage') }}"><img src="{{ asset('bundles/app/images/favicon-96x96.png') }}" alt="LittleShip"><!-- <span class="navbar-brand-title">LittleShip</span> --></a>
        </div>
        <div class="collapse navbar-collapse" id="main-navigation-collapse">
            <ul class="nav navbar-nav">
                {% if is_granted("ROLE_SUPER_ADMIN") %}
                <li class="nav-item {% if cRoute == 'am_docker_container_list' %}active{% endif %}">
                    <a href="{{ path('am_docker_container_list') }}">{% trans %}Containers{% endtrans %}</a>
                </li>
                <li class="nav-item {% if cRoute == 'am_docker_images' %}active{% endif %}">
                    <a href="{{ path('am_docker_images') }}">{% trans %}Images{% endtrans %}</a>
                </li>
                <li class="nav-item {% if cRoute == 'am_user_list' %}active{% endif %}">
                    <a href="{{ path('am_user_list') }}">{% trans %}Users{% endtrans %}</a>
                </li>
                <li class="nav-item {% if cRoute == 'am_billing_review' %}active{% endif %}">
                    <a href="{{ path('am_billing_review') }}">{% trans %}Billing{% endtrans %}</a>
                </li>
                {% elseif is_granted("ROLE_USER") %}
                <li class="nav-item {% if cRoute == 'am_docker_usercontainer_list' %}active{% endif %}">
                    <a href="{{ path('am_docker_usercontainer_list') }}">{% trans %}My containers{% endtrans %}</a>
                </li>
                {% endif %}
            </ul>
            <div class="navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <div class="navbar-text">
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="nav-item {% if cRoute == 'fos_user_profile_edit' %}active{% endif %}">
                            <a href="{{ path('fos_user_profile_edit') }}">
                                {{ 'Edit profile'|trans }}
                            </a>
                        </li>
                        <li class="nav-item {% if cRoute == 'fos_user_security_logout' %}active{% endif %}">
                             <a href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </li>
                        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <li class="nav-item"><a href="{{ path('am_docker_homepage', {'_switch_user': '_exit'}) }}">{% trans %}exit.impersonation{% endtrans %}</a></li>
                        {% endif %}
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav">
                        <li class="nav-item {% if cRoute == 'fos_user_security_login' %}active{% endif %}">
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                        <li class="nav-item {% if cRoute == 'fos_user_registration_register' %}active{% endif %}">
                        <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

{% block content %}{% endblock %}
{% endblock %}
