{% extends 'default/index.html.twig' %}

{% set cRoute = app.request.attributes.get('_route') %}

{% block title %}{% trans %}Containers{% endtrans %}{% endblock %}

{% block content %}
<div class="page-header">
    <div class="navbar-form navbar-right">
        <div class="form-group">

        </div>
    </div>
    <h1>{% trans %}My containers{% endtrans %}</h1>
</div>

{% if error is defined %}
<div class="alert alert-danger" role="alert"><i class="fa fa-exclamation-triangle"></i> {{ error }}</div>
{% endif %}

{% if containers is defined %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <th class="hidden-xs">{% trans %}Image{% endtrans %}</th>
                <th class="hidden-xs">{% trans %}Created{% endtrans %}</th>
                <th class="hidden-xs">{% trans %}Ports{% endtrans %}</th>
                <th class="hidden-xs">{% trans %}Status{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for index, container in containers %}
            {% if container.state.Running %}
                {% set status = 'running' %}
            {% elseif not container.state.Running %}
                {% set status = 'exited' %}
            {% else %}
                {% set status = 'dead' %}
            {% endif %}
            <tr class="{{ status }}">
                <td class="name">
                    {% if container.state.Running %}
                        <i class="glyphicon glyphicon-ok-circle"></i>
                    {% elseif not container.state.Running %}
                        <i class="glyphicon glyphicon-ban-circle"></i>
                    {% else %}
                        <i class="glyphicon glyphicon-exclamation-sign"></i>
                    {% endif %}

                    {% if container.name is defined %}
                        <a href="{{ path('am_docker_usercontainer_details', {id:containerEntities[index].id}) }}">{{ container.name }}</a>
                    {% endif %}
                </td>
                <td class="image hidden-xs">{{ container.image }}</td>
                <td class="hidden-xs">{{ container.created }}</td>
                <td class="ports hidden-xs">
                    {% for port in container.config.ports %}
                        <p>
                            {% if port.PrivatePort is defined %}
                                <span class="private">{{ port.PrivatePort }}</span>
                            {% endif %}
                            {% if port.PublicPort is defined %}
                                <span class="public">{{ port.PublicPort }}</span>
                            {% endif %}
                        </p>
                    {% endfor %}
                </td>
                <td class="status hidden-xs">
                    {{ status|trans }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-danger" role="alert">
        <p><i class="glyphicon glyphicon-exclamation-sign"></i> <strong>{% trans %}LittleShip could not connect to your Docker…{% endtrans %}</strong></p>
        {% if error is defined %}
        <p>{{ error }}</p>
        {% endif %}
    </div>
{% endif %}

{% endblock %}
