{% extends 'default/index.html.twig' %}
{% block title %}{% trans %}Images{% endtrans %}{% endblock %}

{% block content %}
<div class="page-header">
    <div class="navbar-form navbar-right">
        {{ form(searchForm) }}
    </div>
    <h1>{% trans %}Search images{% endtrans %}</h1>
</div>

{% if json is defined %}
<table class="table  table-striped">
    <thead>
        <tr>
            <th>{% trans %}Repository{% endtrans %}</th>
            <th>{% trans %}Description{% endtrans %}</th>
            <th>{% trans %}Stars{% endtrans %}</th>
            {#<th></th>#}
        </tr>
    </thead>
    {% for image in json %}
    <tr class="image">
        <td class="repository">
            {% if image.isOfficial %}<i title="{% trans %}Official{% endtrans %}" class="glyphicon glyphicon-star"></i> {% endif %}
            {{ image.name }}
        </td>
        <td class="description">{{ image.description }}</td>
        <td class="star_count">{{ image.starCount }} <i class="glyphicon glyphicon-star-empty"></i></td>
        {#<td class="actions">
            <a href="{{ path('am_docker_image_pull', {name:image.name|url_encode}) }}" class="btn btn-primary"><i class="glyphicon glyphicon-circle-arrow-down"></i> {% trans %}Pull{% endtrans %}</a>
        </td>#}
    </tr>
    {% endfor %}
</table>
{% else %}
    <div class="alert alert-danger" role="alert">
        <p><i class="glyphicon glyphicon-exclamation-sign"></i> <strong>{% trans %}LittleShip could not connect to your Docker…{% endtrans %}</strong></p>
        {% if error is defined %}
        <p>{{ error }}</p>
        {% endif %}
    </div>
{% endif %}
{% endblock %}

