{% extends 'default/index.html.twig' %}

{% set running = container.runtimeInformations.State.Running %}
{% set ports = container.runtimeInformations.NetworkSettings.Ports %}
{% set image = container.runtimeInformations.Config.Image %}

{% block title %}{% trans %}Container details:{% endtrans %} {{ container.runtimeInformations.Name }}{% endblock %}

{% block content %}
<div class="page-header">
    <div class="navbar-form navbar-right">
        <div class="form-group">
            {% if running %}
            <a href="{{ path('am_docker_container_stop', {id:container.id}) }}" class="btn btn btn-warning">{% trans %}Stop{% endtrans %}</a>
            {% else %}
            <a href="{{ path('am_docker_container_start', {id:container.id}) }}" class="btn btn-default">{% trans %}Start{% endtrans %}</a>
            <a href="{{ path('am_docker_container_remove', {id:container.id}) }}" class="btn btn btn-danger">{% trans %}Remove{% endtrans %}</a>
            {% endif %}
        </div>
    </div>
    <h1 class="{% if running %}running{% else %}exited{% endif %}">
        {% if running %}
        <i class="glyphicon glyphicon-ok-circle"></i>
        {% else %}
        <i class="glyphicon glyphicon-ban-circle"></i>
        {% endif %}
        <span class="container-name">{{ container.runtimeInformations.Name }}</span> <small>{{ image }}</small>
    </h1>
</div>
<section class="row container-details">
    <div class="col-md-12">
        <div class="panel panel-default state">
            <div class="panel-heading"><h3 class="panel-title">{% trans %}State{% endtrans %}</h3></div>
            <table class="table">
                <tr>
                    <td>{% trans %}CreatedAt{% endtrans %}</td>
                    <td>{{ Created|localizeddate('full', 'medium') }} — {{ Age.format('%a day(s), %h hour(s), %i minute(s)'|trans) }}</td>
                </tr>
                {% if container.runtimeInformations.State.Running %}
                <tr>
                    <td>{% trans %}Running{% endtrans %}</td>
                    <td><i class="glyphicon glyphicon-ok"></i> {{ RunningAge.format('%a day(s), %h hour(s), %i minute(s)'|trans) }}</td>
                </tr>
                <tr>
                    <td>{% trans %}StartedAt{% endtrans %}</td>
                    <td>{{ StartedAt|localizeddate('full', 'medium') }}</td>
                </tr>
                {% else %}
                <tr>
                    <td>{% trans %}Running{% endtrans %}</td>
                    <td><i class="glyphicon glyphicon-remove"></i></td>
                </tr>
                <tr>
                    <td>{% trans %}FinishedAt{% endtrans %}</td>
                    <td>{{ FinishedAt|localizeddate('full', 'medium') }}</td>
                </tr>
                {% endif %}

                {% if container.runtimeInformations.State.Dead %}
                <tr>
                    <td>{% trans %}Dead{% endtrans %}</td>
                    <td><i class="glyphicon glyphicon-ok"></i></td>
                </tr>
                {% endif %}
            </table>
        </div>
        <div class="panel panel-default env">
            <div class="panel-heading"><h3 class="panel-title">{% trans %}Environment variables{% endtrans %}</h3></div>
            <table class="table">
                {% for envVar in container.runtimeInformations.Config.Env %}
                {% set envVarArray = envVar|split('=') %}
                <tr>
                    <td class="env-name">{{ envVarArray[0] }}</td>
                    {% if envVarArray[1] is defined %}<td class="env-var">{{ envVarArray[1] }}</td>{% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default volumes">
            <div class="panel-heading"><h3 class="panel-title">{% trans %}Volumes{% endtrans %}</h3></div>
            <table class="table">
                {% for intern, extern in container.runtimeInformations.Volumes %}
                <tr><td>{{ intern }}</td><td>{{ extern }}</td></tr>
                {% endfor %}
            </table>
        </div>
    </div>

    {% if linkedContainers is defined %}
    <div class="col-md-4">
        <div class="panel panel-default links">
            <div class="panel-heading"><h3 class="panel-title">{% trans %}Links{% endtrans %}</h3></div>
            <table class="table">

                {% for link in linkedContainers %}
                {% set link = link|split(':') %}
                <tr class="link"><td>{{ link[0] }}</td><td>{{ link[1] }}</td></tr>
                {% endfor %}

            </table>
        </div>
    </div>
    {% endif %}

    {% if volumesFromContainers is defined %}
    <div class="col-md-4">
        <div class="panel panel-default volumes">
            <div class="panel-heading"><h3 class="panel-title">{% trans %}Volumes from{% endtrans %}</h3></div>
            <table class="table">
                {% for otherContainer in volumesFromContainers %}
                <tr><td>{{ otherContainer }}</td></tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}

    {% if ports|length > 0 %}
    <div class="col-md-4">
        <div class="panel panel-default ports">
            <div class="panel-heading"><h3 class="panel-title">{% trans %}Ports{% endtrans %}</h3></div>
            <table class="table">
                {% for port, settings in ports %}
                <tr>
                    <td>{{ port }}</td>
                    {% for setting in settings %}
                    <td>{{ setting.HostIp }}</td>
                    <td>{{ setting.HostPort }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
    {% if restartPolicy.Name %}
    <div class="col-md-4">
        <div class="panel panel-default restart-policy">
            <div class="panel-heading"><h3 class="panel-title">{% trans %}Restart policy{% endtrans %}</h3></div>
            <table class="table">
                <tr>
                    <td colspan="2"><strong>{{ restartPolicy.Name }}</strong></td>
                </tr>
                <tr>
                    <td>{% trans %}MaximumRetryCount{% endtrans %}</td>
                    <td>{{ restartPolicy.MaximumRetryCount }}</td>
                </tr>
            </table>
        </div>
    </div>
    {% endif %}
    {% if logs|length > 0 %}
    <div class="col-md-12">
        <div class="panel panel-default logs">
            <div class="panel-heading"><h3 class="panel-title">{% trans %}Logs{% endtrans %}</h3></div>
            <div class="panel-body code">
                {% for log in logs %}
                {{ log.output|nl2br }}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</section>


{% endblock %}
