{% extends 'default/index.html.twig' %}

{% block title %}{% trans %}Container details:{% endtrans %} {{ container.name }}{% endblock %}

{% block content %}
<div class="page-header">
    <div class="navbar-form navbar-right">
        <div class="form-group">
            {% if running %}
            <a href="{{ path('am_docker_container_restart', {id:container.id}) }}" class="btn btn btn-default">{% trans %}Restart{% endtrans %}</a>
            <a href="{{ path('am_docker_container_stop', {id:container.id}) }}" class="btn btn btn-warning">{% trans %}Stop{% endtrans %}</a>
            {% else %}
            <a href="{{ path('am_docker_container_start', {id:container.id}) }}" class="btn btn-default">{% trans %}Start{% endtrans %}</a>
            <a href="{{ path('am_docker_container_remove', {id:container.id}) }}" class="btn btn btn-danger">{% trans %}Remove{% endtrans %}</a>
            {% endif %}
        </div>
    </div>
    <h1 class="{% if running %}running{% else %}exited{% endif %}">
        {% if running %}
        <i class="glyphicon glyphicon-ok-circle"></i>
        {% else %}
        <i class="glyphicon glyphicon-ban-circle"></i>
        {% endif %}
        <span class="container-name">{{ container.name }}</span> <small>{{ image }}</small>
    </h1>
</div>
<section class="row container-details">
    <div class="col-md-12">
        <div class="panel panel-default state">
            <div class="panel-heading"><h3 class="panel-title">{% trans %}State{% endtrans %}</h3></div>
            <table class="table">
                <tr>
                    <td>{% trans %}CreatedAt{% endtrans %}</td>
                    <td>{{ Created|localizeddate('full', 'medium') }} — {{ Age.format('%a day(s), %h hour(s), %i minute(s)'|trans) }}</td>
                </tr>
                {% if running %}
                <tr>
                    <td>{% trans %}Running{% endtrans %}</td>
                    <td><i class="glyphicon glyphicon-ok"></i> {{ RunningAge.format('%a day(s), %h hour(s), %i minute(s)'|trans) }}</td>
                </tr>
                <tr>
                    <td>{% trans %}StartedAt{% endtrans %}</td>
                    <td>{{ StartedAt|localizeddate('full', 'medium') }}</td>
                </tr>
                {% else %}
                <tr>
                    <td>{% trans %}Running{% endtrans %}</td>
                    <td><i class="glyphicon glyphicon-remove"></i></td>
                </tr>
                <tr>
                    <td>{% trans %}FinishedAt{% endtrans %}</td>
                    <td>{{ FinishedAt|localizeddate('full', 'medium') }}</td>
                </tr>
                {% endif %}

                {% if container.state.oOMKilled %}
                <tr>
                    <td>{% trans %}oOMKilled{% endtrans %}</td>
                    <td><i class="glyphicon glyphicon-ok"></i></td>
                </tr>
                {% endif %}
            </table>
        </div>
        <div class="panel panel-default env">
            <div class="panel-heading"><h3 class="panel-title">{% trans %}Environment variables{% endtrans %}</h3></div>
            <table class="table">
                {% for envVar in container.config.env %}
                {% set envVarArray = envVar|split('=') %}
                <tr>
                    <td class="env-name">{{ envVarArray[0] }}</td>
                    {% if envVarArray[1] is defined %}<td class="env-var">{{ envVarArray[1] }}</td>{% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% if container.mounts is defined and container.mounts|length > 0 %}
    <div class="col-md-12">
        <div class="panel panel-default volumes">
            <div class="panel-heading"><h3 class="panel-title">{% trans %}Volumes{% endtrans %}</h3></div>
            <table class="table">
                    <tr>
                        <th>{% trans %}Source{% endtrans %}</th>
                        <th>{% trans %}Destination{% endtrans %}</th>
                        <th>{% trans %}RW{% endtrans %}</th>
                    </tr>
                {% for mount in container.mounts %}
                    <tr>
                        <td>{{ mount.source }}</td>
                        <td>{{ mount.destination }}</td>
                        <td>{{ mount.rW }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}

    {% if linkedContainers is defined %}
    <div class="col-md-4">
        <div class="panel panel-default links">
            <div class="panel-heading"><h3 class="panel-title">{% trans %}Links{% endtrans %}</h3></div>
            <table class="table">

                {% for link in linkedContainers %}
                {% set link = link|split(':') %}
                <tr class="link"><td>{{ link[0] }}</td><td>{{ link[1] }}</td></tr>
                {% endfor %}

            </table>
        </div>
    </div>
    {% endif %}

    {% if volumesFromContainers is defined %}
    <div class="col-md-4">
        <div class="panel panel-default volumes">
            <div class="panel-heading"><h3 class="panel-title">{% trans %}Volumes from{% endtrans %}</h3></div>
            <table class="table">
                {% for otherContainer in volumesFromContainers %}
                <tr><td>{{ otherContainer }}</td></tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}

    {% if ports|length > 0 %}
    <div class="col-md-4">
        <div class="panel panel-default ports">
            <div class="panel-heading"><h3 class="panel-title">{% trans %}Ports{% endtrans %}</h3></div>
            <table class="table">
                {% for port, settings in ports %}
                <tr>
                    <td>{{ port }}</td>
                    {% for setting in settings %}
                    <td>{{ setting.HostIp }}</td>
                    <td>{{ setting.HostPort }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
    {% if restartPolicy.Name %}
    <div class="col-md-4">
        <div class="panel panel-default restart-policy">
            <div class="panel-heading"><h3 class="panel-title">{% trans %}Restart policy{% endtrans %}</h3></div>
            <table class="table">
                <tr>
                    <td colspan="2"><strong>{{ restartPolicy.Name }}</strong></td>
                </tr>
                <tr>
                    <td>{% trans %}MaximumRetryCount{% endtrans %}</td>
                    <td>{{ restartPolicy.MaximumRetryCount }}</td>
                </tr>
            </table>
        </div>
    </div>
    {% endif %}

    <div class="col-md-4">
        <div class="panel panel-default entity">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans %}Sync{% endtrans %}</h3>
            </div>
            <div class="panel-body">
                {% if containerEntity is defined and containerEntity.user is not null %}
                <p>{{ "Container is owned by %username%"|trans({'%username%':containerEntity.user.username}) }}</p>
                <a href="{{ path('am_user_edit', {id:containerEntity.user.id}) }}" class="btn btn-default">{% trans %}See user{% endtrans %}</a>
                {% else %}
                <p>{% trans %}Container is not synced with LittleShip{% endtrans %}</p>
                <a href="{{ path('am_docker_container_sync', {id:container.id}) }}" class="btn btn-default">{% trans %}Sync with LittleShip{% endtrans %}</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if logs is defined %}
    <div class="col-md-12">
        <div class="panel panel-default logs">
            <div class="panel-heading"><h3 class="panel-title">{% trans %}Logs{% endtrans %}</h3></div>
            <div class="panel-body code">
                {% for log in logs %}
                    {% if log.output is defined %}
                    {{ log.output|nl2br }}
                    {% else %}
                    {{ log|nl2br }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</section>

{% endblock %}
