{% extends 'default/index.html.twig' %}

{% set cRoute = app.request.attributes.get('_route') %}

{% block title %}{% trans %}Containers{% endtrans %}{% endblock %}

{% block content %}
<div class="page-header">
    <div class="navbar-form navbar-right">
        <div class="form-group">
            {% if cRoute == 'am_docker_container_list' %}
            <a href="{{ path('am_docker_container_listall') }}" class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i> {% trans %}List all{% endtrans %}</a>
            {% endif %}
            {% if cRoute == 'am_docker_container_listall' %}
            <a href="{{ path('am_docker_container_list') }}" class="btn btn-default"><i class="glyphicon glyphicon-eye-close"></i> {% trans %}List running{% endtrans %}</a>
            {% endif %}
            <a href="{{ path('am_docker_container_add') }}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> {% trans %}Create a container{% endtrans %}</a>
        </div>
    </div>
    <h1>{% trans %}Containers{% endtrans %}</h1>
</div>

{% if containers is defined %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <th class="hidden-xs">{% trans %}Image{% endtrans %}</th>
                <th class="hidden-xs">{% trans %}Creation date{% endtrans %}</th>
                <th class="hidden-xs">{% trans %}Ports{% endtrans %}</th>
                <th class="hidden-xs">{% trans %}Status{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for container in containers %}
            {% if 'Up' in container.status %}
            {% set status = 'running' %}
            {% elseif 'Exited' in container.status %}
            {% set status = 'exited' %}
            {% elseif 'Dead' in container.status %}
            {% set status = 'dead' %}
            {% else %}
            {% set status = '' %}
            {% endif %}

            <tr class="{{ status }}">
                <td class="name">
                    {% if 'Up' in container.status %}
                    <i class="glyphicon glyphicon-ok-circle"></i>
                    {% elseif 'Exited' in container.status %}
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    {% elseif 'Dead' in container.status %}
                    <i class="glyphicon glyphicon-exclamation-sign"></i>
                    {% endif %}

                    {% if container.names[0] is defined %}
                    <a href="{{ path('am_docker_container_details', {id:container.id}) }}">{{ container.names[0] }}</a>
                    {% endif %}
                </td>
                <td class="image hidden-xs">{{ container.image }}</td>
                <td class="hidden-xs">{{ container.created|localizeddate('short', 'short') }}</td>
                <td class="ports hidden-xs">
                    {% for port in container.ports %}
                    <p>
                        {% if port.PrivatePort is defined %}
                        <span class="private">{{ port.PrivatePort }}</span>
                        {% endif %}
                        {% if port.PublicPort is defined %}
                        <span class="public">{{ port.PublicPort }}</span>
                        {% endif %}
                    </p>
                    {% endfor %}
                </td>
                <td class="status hidden-xs">
                {{ container.status }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-danger" role="alert">
        <p><i class="glyphicon glyphicon-exclamation-sign"></i> <strong>{% trans %}LittleShip could not connect to your Docker…{% endtrans %}</strong></p>
        {% if error is defined %}
        <p>{{ error }}</p>
        {% endif %}
    </div>
{% endif %}

{% endblock %}
