{% extends 'default/index.html.twig' %}

{% block title %}{% trans %}Containers{% endtrans %}{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Image{% endtrans %}</th>
            <th>{% trans %}Creation date{% endtrans %}</th>
            <th>{% trans %}Ports{% endtrans %}</th>
            <th>{% trans %}Status{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for container in containers %}
        <tr class="">
            <td class="name">
                {% if container.data.Names[0] is defined %}
                <a href="{{ path('am_docker_container_details', {id:container.id}) }}">{{ container.data.Names[0] }}</a>
                {% endif %}
            </td>
            <td class="image">{{ container.config.Image }}</td>
            <td>{{ container.data.Created|localizeddate('short', 'short') }}</td>
            <td class="ports">
                <table class="table">
                    {% for port in container.data.Ports %}
                    <tr>
                        {% if port.PrivatePort is defined %}
                        <td class="private">{{ port.PrivatePort }}</td>
                        {% endif %}
                        {% if port.PublicPort is defined %}
                        <td class="private">{{ port.PublicPort }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </td>
            <td class="status">{{ container.data.Status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('am_docker_container_add') }}" class="btn btn-default">{% trans %}Create a container{% endtrans %}</a>
{% endblock %}
