{% extends 'default/index.html.twig' %}

{% set cRoute = app.request.attributes.get('_route') %}

{% block title %}{% trans %}User{% endtrans %}{% endblock %}

{% block content %}
<div class="page-header">
    <div class="navbar-form navbar-right">
        <div class="form-group">

        </div>
    </div>
    <h1>{{ user.username }}</h1>
</div>
<div class="instances col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title containers-title">{% trans %}Containers{% endtrans %}</h2>
        </div>
        <table class="panel-body table">
            {% for container in user.containers %}
            <tr>
                <td>
                    <a href="{{ path('am_docker_container_details', {'id':container.containerId}) }}">{{ container.name }}</a>
                </td>
                <td>
                {% if container.synced %}
                <span class="badge"><i class="glyphicon glyphicon-ok"></i> {% trans %}Synced{% endtrans %}</span>
                {% else %}
                <span class="badge"><i class="glyphicon glyphicon-warning-sign"></i> {% trans %}Un-synced{% endtrans %}</span>
                <a href="#" class="btn btn-primary btn-sm">{% trans %}Re-run{% endtrans %}</a>
                {% endif %}
                </td>
            </tr>
            {% else %}
            <tr class="no-containers"><td colspan="2">{% trans %}No containers linked{% endtrans %}</td></tr>
            {% endfor %}
        </table>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title instances-title">{% trans %}Instances{% endtrans %}</h2>
        </div>
        <div class="panel-body">
            <ul>
                {% for instance in user.templateInstances %}
                <li>{{ instance.name }}</li>
                {% else %}
                <li class="no-instances">{% trans %}No instances linked{% endtrans %}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="col-md-6 form">
    <h2 class="edit-infos">{% trans %}User informations{% endtrans %}</h2>
    {{ form(form) }}
</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/amdocker/js/add-container.js') }}"></script>
{% endblock %}