{% extends 'default/index.html.twig' %}

{% set cRoute = app.request.attributes.get('_route') %}

{% block title %}{% trans %}Users{% endtrans %}{% endblock %}

{% block content %}
<div class="page-header">
    <div class="navbar-form navbar-right">
        <div class="form-group">

        </div>
    </div>
    <h1>{% trans %}Users{% endtrans %}</h1>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="name">{% trans %}Name{% endtrans %}</th>
            <th class="actions">{% trans %}Actions{% endtrans %}</th>
            <th class="email">{% trans %}Email{% endtrans %}</th>
            <th class="last-login">{% trans %}Last login{% endtrans %}</th>
            <th class="roles">{% trans %}Roles{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td class="name"><a href="{{ path('am_user_edit', {id: user.id}) }}">{{ user.username }}</a></td>
            <td class="actions">
                {% if user.containers|length > 1 %}
                <a href="{{ path('am_docker_usercontainer_listforusername', {'username':user.username}) }}" class="btn btn-sm btn-primary">
                    {% trans %}Containers{% endtrans %}
                </a>
                {% endif %}
                <a href="{{ path('am_user_edit', {id: user.id}) }}" class="edit btn btn-sm btn-default">{% trans %}Edit{% endtrans %}</a>
                {% if is_granted("ROLE_SUPER_ADMIN") %}
                <a href="{{ path('am_docker_homepage', {"_switch_user": user.username}) }}" class="switch btn btn-sm btn-default">{% trans %}impersonate{% endtrans %}</a>
                {% endif %}
            </td>
            <td class="email">{{ user.email }}</td>
            <td class="last-login">{{ user.lastLogin|localizeddate('medium', 'short') }}</td>
            <td class="roles">
                {{ user.roles|join(', ') }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
